<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
    <link href="../static/assets/css/arbol.css" rel="stylesheet">



</head>

<body>

  <header>
  <nav class"navbar navbar-dark bg-dark">
			<ul>
				
				<!--<li class="submenu">
					<a href="#"><img src="assets/img/menu.png"><span class="icon-rocket"></span>Menú<span class="caret icon-arrow-down6"></span></a>
					<ul class="children">
						<li><a href="#">Ortografía <span class="icon-dot"></span></a></li>
						<li><a href="#">Gramática <span class="icon-dot"></span></a></li>
						<li><a href="#">Léxico <span class="icon-dot"></span></a></li>
												<li><a href="#">Tipografía <span class="icon-dot"></span></a></li>

						
					</ul>
				</li>-->
				<li class="submenu">
				
				  <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()"><label for="abrir-cerrar">
        &#9776; 
    </label></a><a id="cerrar" class="abrir-cerrar" href="#" onclick="ocultar()"><label for="abrir-cerrar">
        &#9776; 
    </label></a>
				</li>
				
			
				
			</ul>
		</nav>
  
  </header>



  
 

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
  
  
  <div id="sidebar" class="sidebar">
    <a href="#" class="boton-cerrar" onclick="ocultar()">&times;</a>
 <div class="col-lg-11 portfolio-item filter-app">
          <div>
			<form action="/action_page.php">
				<label for="textoOriginal">Texto original</label>
				
					<textarea id="original" rows="20" cols="40" placeholder="Escribe aqui..."></textarea>
					<br><br>
				</form>            
          </div>
					<a class="col-md-8 bottonTransformar" href="javascript:arbol()"><img src="../static/assets/img/menu.png"><span class="icon-rocket"></span>Transformación<span class="caret icon-arrow-down6"></span></a>

        </div>
  
</div>



<script>
function mostrar() {
    document.getElementById("sidebar").style.width = "400px";
    document.getElementById("abrir").style.display = "none";
    document.getElementById("cerrar").style.display = "block";
}

function ocultar() {
    document.getElementById("sidebar").style.width = "0";
    document.getElementById("abrir").style.display = "block";
    document.getElementById("cerrar").style.display = "none";
}
</script>
 <div class="container">
  

      <div class="section-title">
        <h2></h2>
        <p></p>
      </div>

      

      <div class="row portfolio-container">
   
	
	
	
        <!--<div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div>
			<form action="/action_page.php">
				<label for="textoOriginal">Texto original</label>
				
<textarea id="original" rows="20" cols="40" placeholder="Escribe aqui..."></textarea>
					<br><br>
				</form>            
          </div>
        </div>-->
		        <div id="transformaciones" class="col-lg-7 col-md-2 portfolio-item filter-app" style="margin-top:56px;">
				<div id="bienvenida">
				<h1>Asistente web interactivo para la simplificación de textos</h1>
				</div>
				   <div id="frases">
		      


	



			  
          </div>
		  <div id="dependencias" style="display:none;">
		  <a style="color:#fff;" href="javascript:mostrarFrases()"><< Selección de frases</a><br>
          <div id="tO" style="padding:21px; background:#fff;height: 223px;">
		      


	



			  
          </div>
		  <div style="display:flex;justify-content: space-around;margin-top:5px;">
		  		  <button onclick="cambio();">Cambiar</button>
		  		  <button onclick="sinonimos();">Sinominos</button>
				  		  		  <button onclick="eliminar();">Eliminar</button>


		  <button onclick="trasformar();">Terminar</button>
		  </div>
		  <div id="palabrasSinon" style="background-color:#fff; color:black;text-align:center;margin-top:20px;"></div>
		  
		  </div>
        </div>

      <div class="col-lg-5 col-md-6 portfolio-item filter-web">
          <div style="display:flex;margin:0px auto;">
           <form action="/action_page.php" style="display: flex;flex-direction: column;margin: 0px auto;">
				<label for="textoAdaptado">Texto adaptado</label>
<textarea id="final" rows="20" cols="40"></textarea>
					<br><br>
				</form>   
            </div>
          </div>
        </div>

        

       



       

       
      

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <script>
	var hayFrases=false;
	var texto="";
  function mostrarFrases(){
  //Muestra de nuevo el listado de frases, ocultando el panel de las dependencias.
    document.getElementById("frases").style.display = "block";
	document.getElementById("dependencias").style.display = "none";
  }
  //Resetar texto para introducir otro
   function reseteo(){
	//Compruebo si ya ha habido más texto
	if(hayFrases){
	//Reseteo las frases anteriores
		document.getElementById("frases").innerHTML=" ";
	}
  }
  //Oculta el panel del menu una vez que se introduce un texto y se quiere hacer una transformación en el.
  function arbol(){
  
	reseteo();
    //Se coge el texto original introducido en el text area
	
	//var obj=new Object;
	
	//obj.texto=document.getElementById("original").value;
	texto=document.getElementById("original").value;

	var t ={"text":texto};
	var jsonObj= JSON.stringify(t);
	fetch("/sentences",{
		method: "POST",
		headers: {
                    'Content-Type': 'application/json',
                },
		body: jsonObj
	}).then( response => response.json()
	).then( data => {
		//console.log(JSON.parse(myObj.text));
		if(texto.length!=0){
			//Llama a la función ocultar, para que se oculte el menu de la izquierda.
			ocultar();
			//Separa el texto cogido por un salto de linea.
			var splitted = data.sentences;
			//Contador auxiliar que se usa en el siguiente bucle de frases para incluir en el html.
			var sep=0;
			//Bucle que va intinerando las frases separadas para incluirlas al html.
			splitted.forEach(element => {
				if(splitted != ""){
					document.getElementById("frases").innerHTML += " <div style='background:#fff;padding:10px;text-align:center'><a id=frase"+sep+" href='javascript:fraseSeleccionada("+sep+")'>"+ element +"</a></div><br>";
					sep++;
				}
			});
		}
		//Si se hace click en transformar y no hay texto introducido muestra una alerta
		else{
			alert("Introduzca un texto para comenzar");
		}
		//Se ha escrito
		hayFrases=true;
	});
	
  }
  //Selecciona una de las frasespara poder sacar su arbol de dependencias, llevandome el numero de frase que se ha seleccionado.
  function fraseSeleccionada(s){
	//Oculta el panel de frases.
    document.getElementById("frases").style.display = "none";
	//Muestra el arbol de dependencias
    document.getElementById("dependencias").style.display = "block";
	
	//Se coge el texto original introducido en el textarea.
	
	
	var seleccion = document.getElementById("frase"+s).innerText;
	//De la frase seleccionada se separa cada palabra por un espacio en blanco
	var separa = seleccion.split(" ");
	//Contador auxiliar que lleva el numero de palabras totales de la frase
	var cont=separa.length;
	//Contador auxiliar para llevar la cuenta hasta el numero total de palabras para incluir en el arbol de dependencias
	var cuenta=0;
	//Comprueba si el numero de palabras totales es mayor que 1, ya que uno no tiene sentido hacer ninguna transformacion.
	if(cont>1){
		//incrusta en el html la frase al completo como nodo principal de sus hijos (palabras que forman dicha frase)
		document.getElementById("tO").innerHTML = "<div class='tree'><ul><li><div class='family'><div class='person child male'><div class='name'>"+ seleccion +"</div></div><ul id='t1'>";
		//Bucle para incluir en el arbol de hijos las palabras que se han separado.
		while(cuenta!=cont){
			document.getElementById("t1").innerHTML += "<li id='lista"+cuenta+"'><div class='family'><div id='elem"+cuenta+"' class='person child male'><a href='javascript:eleccion("+cuenta+")'><div  class='name'>"+separa[cuenta]+"</div></div></div></li>";
			cuenta++;
		}
	}
  
  }
  
	//Escribe en el textarea final el resultado de todas las trasformaciones que ha sufrido el texto original.
    function trasformar(){
	//Se coge el texto original introducido en el textarea.
	texto=document.getElementById("original").value;
	//Separa el texto cogido por un salto de linea.
    var separa = texto.split(" ");
	//Contador auxiliar que lleva el numero de palabras totales de la frase
	var cont=separa.length;
	//Contador auxiliar para llevar la cuenta hasta el numero total de palabras para unirlas.
	var c=0;
	//bucle para escribir todas las palabras que han quedado en el arbol de dependencias
	while(c!=cont){
		//Se coge el id de la palabra
		var palabra="elem"+c;
			//Se comprueba si la palabra ha sido eliminada por el id
			if(document.getElementById(palabra)!=null){
				//Se escribe en el html
				document.getElementById("final").innerHTML += document.getElementById(palabra).innerText+" ";
			}
		c++;
	}
	//Se introduce un salto de linea despues de escribir la primera frase.
	document.getElementById("final").innerHTML +="\n";
  }
	//función para seleccionar una o dos palabras en el arbol de dependencias para cambiar el orden, eliminar o mostrar sinonimos
   function eleccion(cont){
	var c= document.getElementsByClassName('active');
	//Comprueba si ya hay alguna clase en activo (es decir, seleccinada)
	if(c.length<=1){
		var elemento="elem"+cont;
		var e=document.getElementById(elemento);
		//incluye la clase active en el padre del id donde se ha dado click
		e.classList.add('active');

	}		

}
	//Cambia dos pàlabras de posicion
   function cambio(){
   //Se cogen las clases activas para poder cambiar las palabras de orden
	var c= document.getElementsByClassName('active');
	//Se coge el id de la primera clase 
	var id0 = c[0].getAttribute('id');
	//Separo el id en palabra y numero
	var s=id0.split("elem");
	//Se coge el id de la segunda clase 
	var id1 = c[1].getAttribute('id');
	//Separo el id en palabra y numero
	var s1=id1.split("elem");
	
	//Coge el texto que tienen ambas clases
	var e1=c[0].innerText;
	var e2=c[1].innerText;

  
	//Cmabio el orden de las palabras, escribiendolas en el html en orden inverso
	var ele1=document.getElementById(id0);
	var ele2=document.getElementById(id1);
	ele1.innerHTML = "<a href='javascript:eleccion("+s[1]+")'><div  class='name'>" + e2;
	ele2.innerHTML = "<a href='javascript:eleccion("+s1[1]+")'><div  class='name'>" + e1;
	
	//Elimina la clase active porque ya se ha terminado de operar con ellas
	ele1.classList.remove('active');
	ele2.classList.remove('active');



}
	//Elimina del arbol de dependencias la palabra seleccionada
  function eliminar(){
   //Coge le clase activa que es la palabra que se ha seleccionado para proceder a su eliminacion
	var c= document.getElementsByClassName('active');
	//Coge el id que tiene la palabra para poder eliminarla
	var id0 = c[0].getAttribute('id');
	//Para saber cual es el elemento de la lista para poder borrar todo el rastro cogemos el numero del id que tiene la palabra
	var s=id0.split("elem");
	//Concateno la palabra lista con el numero anterior
	var listaSeleccionada="lista"+s[1];
	//Coge el html de ese id para poder eliminarlo
	var l= document.getElementById(listaSeleccionada);
	
	//Elimina el rasto de html de la clase activa.
	c.item(0).remove();
	//Elimino la lista
	l.remove();



}
	//Muestra los sinominos de una palabra seleccionada del arbol de dependencias
   function sinonimos(){
   //Coge le clase activa que es la palabra que se ha seleccionado para mostrar los sinonimos a esa palabra
	var c= document.getElementsByClassName('active');
	var p = c[0].innerText;
	var j={"synonymous": p}
	var jsonObj= JSON.stringify(j);
	fetch("/synonymous",{
		method: "POST",
		headers: {
                    'Content-Type': 'application/json',
                },
		body: jsonObj
	}).then( response => response.json()
	).then( data => {
		//Incluye los sinonimos el el div especifico para mostrarlos (un panel para sinonimos)
		var sin=document.getElementById("palabrasSinon");
		sin.innerHTML = "<h3 style='color: brown;padding-top: 10px;'>Sinónimos</h3><ul style='padding-bottom: 20px;'>";
		var elements = data.synonymous;
		console.log(elements);
		if(elements.length != 0){
			console.log("no entra")
			elements.forEach(element => {
				sin.innerHTML += "<li>" + element + "</li>";
			});
		}else{
			console.log("entra");
			sin.innerHTML += "<h5 style='color: brown;'>No hay sinónimos sencillos</h5>";
		}
		sin.innerHTML += "</ul>"
	});	
}
  </script>

</body>

</html>